/* You can add global styles to this file, and also import other style files */

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 18px/1.5 Georgia, serif;
    margin-top: 2em;
}

ul, 
ol {
    padding-bottom: 1rem;
}   

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-size: 15px;
}