.main-container {
    display: flex;
    justify-content: center;
    
    .form {
        background: rgb(141, 140, 140);
        padding: 1em;
        border-radius: 5px;
        width: 310px;
        color: rgb(255, 255, 255);
    }

    .title-label,
    .link-label {
        display: block;
    }

    .title-container,
    .link-container {
        margin-bottom: 1em;
    }

    .title-input,
    .link-input {
        width: 100%;
    }

    .submit-button {
        display: block;
        margin-left: auto;
        padding: 6px 15px;
        background: rgb(3, 97, 3);
        border: none;
        border-radius: 5px;
        font-size: 15px;
    }
}