<div class="main-container">
  <form [formGroup]="form" class="form">
    <h3 class="heading-label">Add Link</h3>
    <div class="title-container">
      <label class="title-label">Title:</label>
      <input class="title-input" type="text">
    </div>
    <div class="link-container">
      <label class="link-label">Link:</label>
      <input class="link-input" type="text">
    </div>
    <div class="submit-button-container">
      <button (click)="onSubmit()" class="submit-button">Submit Link</button>
    </div>
  </form>
  <app-articles></app-articles>
</div>