.main-container {
    color: rgb(19, 19, 19);
    
    .form {
        margin: 0 auto;
        background: rgb(241, 249, 255);
        padding: 1em;
        border-radius: 5px;
        width: 310px;
        
        .heading-label {
            margin-bottom: .5em;
        }

        .title-label,
        .link-label {
            display: block;
        }
    
        .title-container,
        .link-container {
            margin-bottom: 1em;
        }
    
        .title-input,
        .link-input {
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    
        .submit-button {
            display: block;
            margin-left: auto;
            padding: 6px 15px;
            background: rgb(10, 188, 62);
            color:rgb(241, 249, 255);
            border: none;
            border-radius: 5px;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }
    }
}